body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 -10px;
}


header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0 50px;
    align-items: center;
    box-shadow: 0 0 5px 5px #1F2937;
    margin-bottom: 10px;
}

h1 {
    color: whitesmoke;
}

.intro p {
    font-size: 20px;
    color:whitesmoke;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    color: #577db9;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0 50px;
}
li {
    font-size: 22px;
}

main {
    display: flex;
    flex-direction: column;
}

.intro {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #1F2937;
    align-items: center;
    margin-top: 8px;
    box-shadow: 0 0 0 10px #1F2937;
    padding: 50px 0;
    gap: 100px;
    
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    font-size: 15px;
    border-color: white;
}

.intro button{
    border-color: #1F2937;
}


.reach {
    width: 800px;
    flex: 0 1 auto;
    margin-left: -20px;
}
.profile {
    height: auto;
    width: 250px;
    flex: 0 0 auto;
    border-radius: 25%;
    box-shadow: 0 0 5px 5px #5e6962;
    margin-right: -10px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    height: 200px;
    width: 300px;
    flex: 0 0 auto;
    border-radius: 10px;
    border-style: solid;
    color:rgb(84, 116, 172);
}

.card p{
    font-size: 18px;
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    background-color: #E5E7EB;
}

.testimonials p {
    font-size: 20px;
    width: 1000px;
    flex: 0 1 auto;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #3882F6;
    padding: 0 20px;
    gap: 200px;
    color: white;

}

.box-text p {
    width: 500px;
    margin-top: -10px;
}
